body{
    background-color:  rgb(200, 200, 200);
    font-family: Arial, Helvetica, sans-serif;
}
.central{
    text-align: center;
}

.item-menu{
    display: inline;
    margin: 0.8rem;
    background-color: aliceblue;
    padding:0.3rem;
    padding: right 1rem; ;
    border-right-style: solid ;
    border-color: rgb(209, 104, 104);
}

.item-menu:hover{
    background-color: rgb(214, 175, 125);
    color: rgb(64, 64, 64);
}
item-menu:hover{
    background-color: rgb(244, 163, 58);
    
}
.menu{
    background-color: antiquewhite;
    padding:0.7rem ;
}

td{
    padding: 0.4em; ;
}
